    html, body{
        background-color: beige;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: inline-flex;
        background-color: blue;
        background: url('images/background.jpg') ;
        background-size:cover ;
        background-repeat: no-repeat;
        font-family: 'Courier New', Courier, monospace;
        
        
    }




    .container{
        display: inline-flex;
        width: 80%;
        height: 30%;
        margin: auto;
        background-color: rgba(0, 0, 255, 0.171);
    }

    .containerA{
        background-color: red   ;
    }
    .key{
        display: inline-block;
        
        width: 10%;
        height: 100%;
        background-color: red;
        margin: 10px;
        border:5px solid rgba(159, 255, 6, 0.788);
        transition: all 0.20s;
        
    }

    .playing{
        text-decoration: dashed;
        background: linear-gradient(#ff260067, #65fd00a2);
        color:black;
        border: solid 4px rgb(255, 163, 247);
        transform: scale(.9);
    }

    kbd{

        display:block;
        text-align: center;
        margin: auto;
        margin-top: 50%;
        font-weight: bold;
        font-size: 50px;
        color: white;

        
    }
    .sound{
        display:table;
        margin: auto ;
        margin-top: 10px;
        color:white;
        font-size: 14px;
        text-align: center;
    }

    .key:nth-child(1){
        background-color: rgba(0, 0, 255, 0.089);
    }
    .key:nth-child(2){
        background-color: rgba(255, 32, 225, 0.233);
    }
    .key:nth-child(3){
        background-color: rgba(81, 255, 0, 0.205);
    }
    .key:nth-child(4){
        background-color: rgba(133, 97, 106, 0.342);
    }
    .key:nth-child(5){
        background-color: rgba(248, 252, 13, 0.26);
    }
    .key:nth-child(6){
        background-color: rgba(0, 236, 253, 0.233);
    }
    .key:nth-child(7){
        background-color: rgba(12, 77, 41, 0.267);
    }
    .key:nth-child(8){
        background-color: rgba(219, 132, 0, 0.527);
    }
    .key:nth-child(9){
        background-color: rgba(255, 14, 255, 0.151);
    }




